---
import MainLayout from "../components/layouts/MainLayout.astro";
import HelloVue from "../components/HelloVue.vue";
import HeroSection from "../components/sections/HeroSection.vue";
---

<MainLayout title="Inicio">
  <HeroSection client:load title="prueba" description="prueba" />

  <main class="mx-auto max-w-6xl px-6 pb-16">
    <HelloVue
      client:load
      title="Primer componente Vue"
      message="Hoy dejamos lista la base visual del proyecto con Tailwind, tokens y componentes reutilizables."
    />
  </main>
</MainLayout>
